In [1]:
pwd

'/Users/laurenhughes/Documents/Flatiron/Project '

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [3]:
#Here I am importing the source data - taken from NHS workforce statistics data. I have just selected the Gender source data. 

nhs_gen = pd.read_excel('/Users/laurenhughes/Flatiron/NHSWFD.xlsx', sheet_name='Source data - Gender')

In [29]:
nhs_gen

,Data Month,Main staff group,Staff group 1,Gender,Grade,HC
5741,2020-12-31,NHS infrastructure support,Central functions,Female,All grades,75136
5742,2020-12-31,NHS infrastructure support,Central functions,Female,Band 1,23
5743,2020-12-31,NHS infrastructure support,Central functions,Female,Band 2,8397
5744,2020-12-31,NHS infrastructure support,Central functions,Female,Band 3,15503
5745,2020-12-31,NHS infrastructure support,Central functions,Female,Band 4,15971
...,...,...,...,...,...,...
6188,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 7,352
6189,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8a,67
6190,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8b,13
6191,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8c,4
6192,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Non AfC Grade,250

In [30]:
nhs_gen['Staff group 1'].value_counts()

Central functions                            28
Support to doctors, nurses & midwives        28
Managers                                     26
Support to ST&T staff                        25
Hotel, property & estates                    25
Nurses & health visitors                     24
Unknown                                      23
Support to ambulance staff                   22
HCHS Doctors                                 22
Scientific, therapeutic & technical staff    22
Ambulance staff                              19
Midwives                                     18
Senior managers                              18
Name: Staff group 1, dtype: int64

In [45]:
#Here I am isolating the data from December 2020 as the source data contained the counts in all months of 2020

nhs_gen = nhs_gen.loc[nhs_gen['Data Month'] == '2020-12-31']
nhs_gen

,Data Month,Main staff group,Staff group 1,Gender,Grade,HC
5741,2020-12-31,NHS infrastructure support,Central functions,Female,All grades,75136
5742,2020-12-31,NHS infrastructure support,Central functions,Female,Band 1,23
5743,2020-12-31,NHS infrastructure support,Central functions,Female,Band 2,8397
5744,2020-12-31,NHS infrastructure support,Central functions,Female,Band 3,15503
5745,2020-12-31,NHS infrastructure support,Central functions,Female,Band 4,15971
...,...,...,...,...,...,...
6188,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 7,352
6189,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8a,67
6190,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8b,13
6191,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8c,4
6192,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Non AfC Grade,250

In [46]:
nhs_gen = nhs_gen.loc[nhs_gen['Main staff group'] != 'All staff groups']
nhs_gen = nhs_gen.loc[nhs_gen['Staff group 1'] != 'All staff groups']
nhs_gen = nhs_gen.loc[nhs_gen['Gender'] != 'All genders']
nhs_gen

,Data Month,Main staff group,Staff group 1,Gender,Grade,HC
5741,2020-12-31,NHS infrastructure support,Central functions,Female,All grades,75136
5742,2020-12-31,NHS infrastructure support,Central functions,Female,Band 1,23
5743,2020-12-31,NHS infrastructure support,Central functions,Female,Band 2,8397
5744,2020-12-31,NHS infrastructure support,Central functions,Female,Band 3,15503
5745,2020-12-31,NHS infrastructure support,Central functions,Female,Band 4,15971
...,...,...,...,...,...,...
6188,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 7,352
6189,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8a,67
6190,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8b,13
6191,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Band 8c,4
6192,2020-12-31,Support to clinical staff,Support to ST&T staff,Male,Non AfC Grade,250

In [48]:
genm = nhs_gen.loc[nhs_gen['Gender'] == 'Male']
genf = nhs_gen.loc[nhs_gen['Gender'] == 'Female']

In [49]:
genm = genm.drop(columns=['Data Month', 'Main staff group', 'Staff group 1', 'Gender'])
genf = genf.drop(columns=['Data Month', 'Main staff group', 'Staff group 1', 'Gender'])

In [53]:
genm = genm.rename(columns={'HC' : 'Males'})
genf = genf.rename(columns={'HC' : 'Females'})

KeyError: 'Gender'